@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  background-color: rgb(143, 228, 154);
}
h1{
    font-weight: bolder;
    color: rgb(82, 21, 179);
}
.button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  background-color:white;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
h1,.items-center{
    text-align: center;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 5px;
    border: 2px solid black;
    border-radius: 5px;
}
.equal{
    background-color: blueviolet;
    
}